<div id="activities">
  <div>
  <form class="form-inline">
  <div class="form-group" style="padding-left:10px;">
				<label style="font-size: 18px;">交往记录:</label>
			</div>
  <input class="btn btn-default" type="button" value="新增" id="add">

</form>
</div>

<div>
	<table class="table table-hover">
		 <thead>
		    <tr style="background:#E8E8E8;">
		      <th>地点</th>
		      <th>概要</th>
		      <th>备注</th>		 
			  <th>操作</th>
		    </tr> 
		  </thead>

		  <tbody>
		    <tr th:each="activity:${activityInfo.list}">
		      <td th:text="${activity.atvPlace}">昆山</td>
		      <td th:text="${activity.atvTitle}">这是概要</td>
		      <td th:text="${activity.atvMemo}">这是一个备注哦</td>
		      <td>
		      	<i th:value="${activity.atvId}"  class="layui-icon layui-icon-edit editUser" title="编辑"></i>  
		      	<i th:value="${activity.atvId}"  class="layui-icon layui-icon-delete deleteUser" title="删除"></i>   
		      </td>
		    </tr> 
         </tbody>
    </table>
</div>
<div class="fenye">
		<table class="footTable">
			<tr>
				<td colspan="5">共<span th:text="${activityInfo.total }"></span>
					条记录 每页<span th:text="${activityInfo.size }"></span> 条 第<span
					th:text="${activityInfo.pageNum }"></span> 页 <a
					href="javascript:void(0)" th:onclick="pageSelect3(1)">首页</a> <span
					th:with="condition=${activityInfo.hasPreviousPage}"> <a
						th:if="${condition}"
						th:onclick="'pageSelect3('+${activityInfo.prePage}+')'">上一页</a> <font
						th:unless=${condition} color="#ABA8AB">上一页</font>
				</span> <span th:with="condition=${activityInfo.hasNextPage}"> <a
						th:if="${condition}"
						th:onclick="'pageSelect3('+${activityInfo.nextPage}+')'">下一页</a> <font
						th:unless=${condition} color="#ABA8AB">下一页</font>
				</span> <a href="javascript:void(0)"
					th:onclick="'pageSelect3('+${activityInfo.lastPage }+')'">尾页</a>
				</td>
			</tr>
		</table>
	</div>
<div class="back">
	 <button class="btn" style="background:#ccc">返回</button>
</div>
<!-- 删除模态框 -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog"  style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">是否确定删除</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增模态框 -->
<div class="modal"  id="toAdd">
  <div class="modal-dialog">
    <div class="modal-content">
       <form>
					<div class="modal-body">
						<div class="form-group">
							<label>地点:</label>
							<input type="text" name="atvPlace"  class="form-control">
						</div>
						<div class="form-group">
							<label>概要:</label>
							<input type="text" name="atvTitle" class="form-control">
						</div>
						<div class="form-group">
							<label>备注:</label>
							<input type="textarea" name="atvMemo" style="height:60px" class="form-control">
						</div>
					</div>
				</form>
				<div class="modal-footer">
				    <button class="btn" style="background:#ccc">取消</button>
					<button class="btn" style="background:#ccc">保存</button>
				</div>
    </div>
  </div>
</div>

</div>
<style>
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.pagination > li > a, .pagination > li > span {
    color: black;
}
#activities{
	width: 1140px;
	overflow: hidden;
}
.fenye{
	margin-left: 400px;
}
.back{
		float: right;
	}
	.form-inline{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	input[type=submit]{
		margin-left: 50px;
	}
	#add{
		margin-left: 1050px;
	}
	.table th,td{
		text-align: center;
	}
	#deleteModal{
		margin-top: 100px;
	}
	#toAdd{
		margin-top: 50px;
	}
	
</style>
<script type="text/javascript">

function pageSelect3(curPage){
	var custId = [[${atvCustId}]];
	//alert(custId);
	$('.layui-body').
	load("/activities/pageQuery/"+curPage+"/"+custId);
} 
	$(function(){
		var atvId;
		// 返回
		$('button:contains(返回)').on('click', function() {
			$('.layui-body').load('/customer/pageQuery/1');
		})
		// 显示删除模态框
		$('.deleteUser').click(function(){
			$('#deleteModal').show();
			atvId = $(this).attr("value");
		})
		// 关闭删除模态框
		$('.close').click(function(){
			$('#deleteModal').hide();
		})
		// 关闭删除模态框
		$('.btn-default').click(function(){
			$('#deleteModal').hide();
		})
		// 确定删除
		$('.btn-primary').click(function(){
			$('#deleteModal').hide();
			var url = "/activities/deleteById";
			$.get(url,{id:atvId},function(d){
				alert(d);
				$(".layui-side-scroll dd:contains('客户信息查询')").trigger('click');
			});
		})
		// 点击新增显示模态框
		$('#add').click(function(){
			$('.form-control').val("");
			atvId="";
			$('#toAdd').show();
		})
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				$('#toAdd').hide();
				var atvPlace = $("input[name=atvPlace]").val();
				var atvTitle = $("input[name=atvTitle]").val();
				var atvMemo = $("input[name=atvMemo]").val();
				
				var data = {
						atvId:atvId,
						atvPlace:atvPlace,
						atvTitle:atvTitle,
						atvMemo:atvMemo
				};
				url = "/activities/saveOrUpdate";
				$.post(url,data,function(){
					$(".layui-side-scroll dd:contains('客户信息查询')").trigger('click');
				});

		})	
		// 点击编辑显示模态框
		$('.editUser').click(function(){
			atvId = $(this).attr("value");
			//alert(atvId);
			var url = "/activities/findById/";
			$.get(url,{id:atvId},function(d){
				var atvPlace = $("input[name=atvPlace]").val(d.atvPlace);
				var atvTitle = $("input[name=atvTitle]").val(d.atvTitle);
				var atvMemo = $("input[name=atvMemo]").val(d.atvMemo);
			});

			$('#toAdd').show();
		})
		// 返回
		$('button:contains(返回)').on('click',function(){
			$('.layui-body').load('/customer/pageQuery/1');  
		})
	})
</script>