<!-- 客户信息查询 -->
<div id="customer">
<div>
  <form class="form-inline">
  <div class="form-group">
    <input type="text" name="username" class="form-control" id="exampleInputEmail3" placeholder="请输入客户名称">
  </div>
  <!-- <div class="form-group">
    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="请输入客户经理">
  </div> -->
  <div class="form-group">
	<select name="region" id="" class="form-control">
		 <option value="">请选择所属地区</option>
        <option value="华中">华中</option>
        <option value="华北">华北</option>
        <option value="华南">华南</option>
        <option value="华东">华东</option>
	</select>
  </div>
  <div class="form-group">
	<select name="level" id="" class="form-control">
		<option value="">请选择客户等级</option>
        <option value="普通客户">普通客户</option>
        <option value="大客户">大客户</option>
        <option value="重点开发客户">重点开发客户</option>
        <option value="合作伙伴">合作伙伴</option>
        <option value="战略合作伙伴">战略合作伙伴</option>
	</select>
  </div>
  <input class="btn btn-default search" type="button" value="查询">
  <input class="btn btn-default" type="reset" value="重置">
  <input class="btn btn-default" type="button" value="新增" id="add">
</form>
</div>
<div>
	<table class="table table-hover">
		 <thead>
		    <tr style="background:#E8E8E8;">
		      <th>序号</th>
		      <th>客户名称</th>
		      <th>客户经理</th>
		      <th>所属地区</th>
		      <th>客户等级</th>			 
			  <th >操作</th>
		    </tr> 
		  </thead>

		  <tbody>
		    <tr th:each="customer:${custinfo.list}">
		      <td th:text="${customer.custId}">1</td>
		      <td th:text="${customer.custName}">张三</td>
		      <td th:text="${customer.custManagerName}">李四</td>
		      <td th:text="${customer.custRegion}">江苏昆山</td>
		      <td th:text="${customer.custLevelLabel}">一星</td>		     
		      <td class="test">	
		      	<i th:value="${customer.custId}" class="layui-icon layui-icon-edit first" title="编辑客户信息"></i> 
		        <i th:value="${customer.custId}" class="layui-icon layui-icon-username user" title="编辑联系人信息"></i>  
		      	<i th:value="${customer.custId}" class="layui-icon layui-icon-read editRecord" title="编辑交往记录"></i>
		        <i th:value="${customer.custId}" class="layui-icon layui-icon-delete deletee" title="删除客户记录"></i>
		      </td>
		    
		    
         </tbody>
    </table>
</div>
<div class="fenye">
	<table class="footTable">
			<tr>
				<td colspan="5">共<span th:text="${custinfo.total }"></span> 条记录 每页<span th:text="${custinfo.size }"></span> 条 第<span th:text="${custinfo.pageNum }"></span> 页 <a
					href="javascript:void(0)" th:onclick="pageSelect(1)">首页</a>
						<span th:with="condition=${custinfo.hasPreviousPage}">
							<a th:if="${condition}" th:onclick="'pageSelect('+${custinfo.prePage}+')'">上一页</a>
							<font th:unless=${condition} color="#ABA8AB">上一页</font>
						</span>
						<span th:with="condition=${custinfo.hasNextPage}">
							<a th:if="${condition}" th:onclick="'pageSelect('+${custinfo.nextPage}+')'">下一页</a>
							<font th:unless=${condition} color="#ABA8AB">下一页</font>
						</span>
						 <a href="javascript:void(0)" th:onclick="'pageSelect('+${custinfo.lastPage }+')'">尾页</a>
				</td>
			</tr>

		</table>
</div>
<!-- 删除模态框 -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog"  style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">是否确定删除</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增模态框 -->
<div class="modal"  id="toAdd">
  <div class="modal-dialog" style="height:400px;overflow:auto;">
    <div class="modal-content">
       <form>
					<div class="modal-body">
						<div class="form-group">
							<label>客户姓名:</label>
							<input type="text" name="name"  class="form-control">
						</div>
						<div class="form-group">
							<label>客户经理:</label>
							<input type="text" name="mname" class="form-control">
						</div>
						<div class="form-group">
							<label>所属地区:</label>
							<select name="custregion" id="" class="form-control">
								<option value="">请选择所属地区</option>
						        <option value="华中">华中</option>
						        <option value="华北">华北</option>
						        <option value="华南">华南</option>
						        <option value="华东">华东</option>
							</select>
						</div>
						<div class="form-group">
							<label>客户等级:</label>
							<select name="custlevel" id="" class="form-control">
								<option value="">请选择客户等级</option>
						        <option value="普通客户">普通客户</option>
						        <option value="大客户">大客户</option>
						        <option value="重点开发客户">重点开发客户</option>
						        <option value="合作伙伴">合作伙伴</option>
						        <option value="战略合作伙伴">战略合作伙伴</option>
							</select>
						</div>
						<div class="form-group">
							<label>客户地址:</label>
							<input type="text" name="address" class="form-control">
						</div>
						<div class="form-group">
							<label>邮政编码:</label>
							<input type="text" name="zip" class="form-control">
						</div>
						<div class="form-group">
							<label>客户电话:</label>
							<input type="text" name="phone" class="form-control">
						</div>
						<div class="form-group">
							<label>客户传真:</label>
							<input type="text" name="fax" class="form-control">
						</div>
						<div class="form-group">
							<label>客户网址:</label>
							<input type="text" name="website" class="form-control">
						</div>
						<div class="form-group">
							<label>营业执照注册号:</label>
							<input type="text" name=custLicenceNo class="form-control">
						</div>
						<div class="form-group">
							<label>法人:</label>
							<input type="text" name="custChieftain" class="form-control">
						</div>
						<div class="form-group">
							<label>注册资金（万元）:</label>
							<input type="text" name="custBankroll" class="form-control">
						</div>
						<div class="form-group">
							<label>年营业额:</label>
							<input type="text" name="custTurnover" class="form-control">
						</div>
						<div class="form-group">
							<label>开户银行:</label>
							<input type="text" name="custBank" class="form-control">
						</div>
						<div class="form-group">
							<label>银行账号:</label>
							<input type="text" name="custBankAccount" class="form-control">
						</div>
						<div class="form-group">
							<label>地税登记号:</label>
							<input type="text" name="custLocalTaxNo" class="form-control">
						</div>
						<div class="form-group">
							<label>国税登记号:</label>
							<input type="text" name="custNationalTaxNo" class="form-control">
						</div>
					</div>
				</form>
				<div class="modal-footer">
				    <button class="btn" style="background:#ccc">取消</button>
					<button class="btn" style="background:#ccc">保存</button>
				</div>
    </div>
  </div>
</div>
</div>
<style>
#customer{
	width: 1140px;
	overflow: hidden;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.pagination > li > a, .pagination > li > span {
    color: black;
}
.fenye{
	margin-left: 400px;
}
	.form-inline{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	.search{
		margin-left: 50px;
	}
	.table th,td{
		text-align: center;
	}
	#add{
		margin-left: 250px;
	}
	#toAdd{
		margin-top: 50px;
	}
	#deleteModal{
		margin-top: 100px;
	}
</style>
<script type="text/javascript">
	function pageSelect(curPage){
		$('.layui-body').load('/customer/pageQuery/'+curPage);
	}
	$(function(){
		var custId;
		//编辑联系人信息
		$('.user').on('click',function(){
			custId = $(this).attr("value");
			var url = "/linkman/pageQuery/1"+"/"+custId;
			$('.layui-body').load(url);  
		})
		//编辑交往记录信息
		$('.editRecord').on('click',function(){
			custId = $(this).attr("value");
			var url = "/activities/pageQuery/1"+"/"+custId;
			$('.layui-body').load(url); 
		})

		// 点击新增显示模态框
		$('#add').click(function(){
			custId = "";
			$('.form-control').val("");
			$('#toAdd').show();
		})
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				$('#toAdd').hide();
				var name = $("input[name=name]").val();
				var mname = $("input[name=mname]").val();
				var region = $("select[name=custregion]").val();
				var level = $("select[name=custlevel]").val();
				var address = $("input[name=address]").val();
				var phone = $("input[name=phone]").val();
				var zip = $("input[name=zip]").val();
				var fax1 = $("input[name=fax]").val();
				var website1 = $("input[name=website]").val();
				var custLicenceNo1 = $("input[name=custLicenceNo]").val();
				var custChieftain1 = $("input[name=custChieftain]").val();
				var custBankroll1 = $("input[name=custBankroll]").val();
				var custTurnover1 = $("input[name=custTurnover]").val();
				var custBank1 = $("input[name=custBank]").val();
				var custBankAccount1 = $("input[name=custBankAccount]").val();
				var custLocalTaxNo1 = $("input[name=custLocalTaxNo]").val();
				var custNationalTaxNo1 = $("input[name=custNationalTaxNo]").val();  
				var data = {
						custId:custId,
						custName:name,
						custManagerName:mname,
						custRegion:region,
						custLevelLabel:level,
						custAddr:address,
						custTel:phone,
						custZip:zip,
						custFax:fax1,
						custWebsite:website1,
						custLicenceNo:custLicenceNo1,
						custChieftain:custChieftain1,
						custBankroll:custBankroll1,
						custTurnover:custTurnover1,
						custBank:custBank1,
						custBankAccount:custBankAccount1,
						custLocalTaxNo:custLocalTaxNo1,
						custNationalTaxNo:custNationalTaxNo1
				};
				var url = "/customer/saveOrUpdate";
				$.post(url,data,function(d){
					alert(d);
					//模拟点击事件
					$(".layui-side-scroll dd:contains('客户信息查询')").trigger('click');
				});
		})	
		// 显示编辑模态框
		$('.first').click(function(){
			$('#toAdd').show();
			custId = $(this).attr("value");
			var url = "/customer/findById/"+custId;
			$.get(url,function(data){
				$("input[name=name]").val(data.custName);
				$("input[name=mname]").val(data.custManagerName);
				$("select[name=custregion]").val(data.custRegion);
				$("select[name=custlevel]").val(data.custLevelLabel);
				$("input[name=address]").val(data.custAddr);
				$("input[name=phone]").val(data.custTel);
				$("input[name=zip]").val(data.custZip);
				$("input[name=fax]").val(data.custFax);
				$("input[name=website]").val(data.custWebsite);
				$("input[name=custLicenceNo]").val();
				$("input[name=custChieftain]").val();
				$("input[name=custBankroll]").val();
				$("input[name=custTurnover]").val();
				$("input[name=custBank]").val();
				$("input[name=custBankAccount]").val();
				$("input[name=custLocalTaxNo]").val();
				$("input[name=custNationalTaxNo]").val(); 
			});
		})
		// 显示删除模态框
		$('.deletee').click(function(){
			$('#deleteModal').show();
			custId = $(this).attr("value");
		})
		// 关闭删除模态框
		$('.close').click(function(){
			$('#deleteModal').hide();
		})
		// 关闭删除模态框
		$('.btn-default').click(function(){
			$('#deleteModal').hide();
		})
		// 确定删除
		$('.btn-primary').click(function(){
			$('#deleteModal').hide();
			var url = "/customer/deleteById/"+custId;
			$.get(url,function(data){
				alert(data);
				$(".layui-side-scroll dd:contains('客户信息查询')").trigger('click');
			});
		})
		// 查询
		$('.search').click(function(){
			//向后台发送ajax请求,并将username,region,level传递到后台
			var username = $("input[name=username]").val();
			var region = $("select[name=region]").val();
			var level = $("select[name=level]").val();
			var data = {
				username:username,
				region:region,
				level:level
			};
			let url = "/customer/pageQuery/1";
			$(".layui-body").load(url,data);
		})

	})
</script>